<launch>
    <!--include file="$(find pylon_camera)/launch/vision.launch"> </include-->
    <!--node pkg="cv_camera" type="cv_camera_node" name="cv_camera" respawn="true"/-->
    <rosparam file="$(find vision_system)/include/vision_system/roi_param.yaml" command='load'/>
    <param name="system_path" value="$(find vision_system)"/>
    <param name="gui_path" value="$(find vision_gui)"/>
    <node pkg="vision_system" type="frame_save.py" name="frame_save" output="screen"/>
</launch>